:root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  width: 100%;
  /* background: url('https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-bar {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  margin-bottom: 2rem;
  padding: .6rem;
  align-items: center;
}

#logo-pic-category {
  height: 4rem;
  width: auto;
  /* position: fixed;
  top: .1rem;
  left: 1rem; */
}

#category-body {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

#category-body > div {
  margin-right: 20px;
  
}

.list-item {
  height: 350px;
  width: 400px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
list-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
	}

/* button {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0rem 2rem 1.5rem 1.5rem;
  padding: 1rem;
  list-style-type: none;
  font-size: 2rem;
  
  display: flex;
  align-items: center;
  height: 20px;
  width: 28px;
  transition: all .2s ease-in-out;
} 
 */

img {
  width: 15rem;
  height: auto;
  
}

/* button:hover {
  transform: scale(1.06);
} */


