@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Raleway:400,700&display=swap');
:root {
    /* font-size 62.5% makes 1rem = 10px, rem used for dyanmic sizing */
    font-size: 62.5%;
    height: 100%;
    width: 100%;
  }
.navbar {
    /* position: absolute;
    top: 0; */
    height: 60px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.align-v {
    vertical-align: middle;
}
span.brand {
    font-weight: 800;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.auth-buttons {
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: center;
}
.navbar-toggler {
    height: 30px;
    width: 30px;
}
.fd-row {
    flex-direction: row;
  }
/* non-desktop only */
.collapse {
    background-color: #F8F9FA;
}
.flex {
    display: flex;
}
.f-col {
    flex-direction: column;
}

.auth-btn {
    font-size: 20px;
}
.nav-link {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    font-family: 'Noto Serif', serif;
}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(89, 89, 89);
    font-size: 20px;
    flex-direction: column;
}

.bg1 {
    background-color: rgba(249, 249, 249, 0.728);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.btn {
    font-size: 20px;
}
/* .btn {
    height: 14px;
    width: 24px;
} */