:root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  width: 100%;
  background: url('https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
}

#logo-pic-venue {
  height: 6rem;
  width: auto;
  position: fixed;
  top: .1rem;
  left: 1rem;
}

#venue-page {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

#venue-details-column {
  margin-right: 1rem;
}

h2 {
  font-size: 6rem;
  font-weight: bold;
}

.specific-venue-image {
  height: 20rem;
  width: auto;
}

#map {
  margin-left: 1rem;
}

#specific-venue-details {
  font-size: 2rem;
}

.message-board {
  height: 200px;
  width: 500px;
  border-radius: 4px;
  border: 2px solid #ccc;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px
}


#submit { 
  width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

.message {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.chat-form {
  position: fixed;
  bottom: 0;
  width: 498px;
}

.chat-input {
  font-size: 14px;
}

.wait-time-input-group {
  font-size: 14px;
}